@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/Estiloscss/inicio.css">
        <title>Document</title>
    </head>
    <body>
        <h1 class="titulo">Inicio</h1>
        <div class="container-principal">
            <img src="~/css/images/gallinaIncio.png" alt="Imagen" class="imagenGallina">
            <p class="info">
                Como empresa representativa del sector avícola caqueteño,
                proteger y defender los intereses de los Avicultores, solicitar
                la atención necesaria y requerir la protección del estado que la
                producción Avícola necesite y Administrar los recursos del Fondo
                Nacional Avícola, entre otras.
            </p>
        </div>
        <div class="container-principal">
            <h2 class="subtitulo">Direccion</h2>
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.1967325241635!2d-75.6185603!3d1.6336011000000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e24515a9a678279%3A0xac132a86d45354df!2sAves%20y%20huevos%20Diana!5e0!3m2!1ses-419!2sco!4v1668896750692!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
           referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        
        <h2 class="subtitulo">Contacto</h2>
        <center>
            <div class="container">           
                <div class="subcontarinerContacto">
                    <label class="item">&#128235;HuevosDiana@gmail.com</label>
                    <label class="item">&#128242;Telefono: 3209797750</label>
                    <a href="https://api.whatsapp.com/send?phone=573209797750&text=Hola%20huevos%20diana,%20quiero%20comprar%20un%20panal" class="EnlaceWasap"><img
                            src="~/css/images/logoWasap.png" alt=""
                            class="logoWhatsapp"> Enviar whatsappi</a>
                </div>
    
                <div class="subcontarinerContacto">
                    <img src="~/css/images/contacto.png" alt="" class="imagenContacto">
                </div>    
            </div>
        </center>
    </body>
</html>